body {
  background-color: #f8f9fa;
}

.hero-section {
  background-color: #007bff; /* Blue background */
  color: white;
  padding: 4rem 0;
  text-align: center;
  min-height: 400px;
}

.hero-section .btn-outline-light {
  border-color: white;
  color: white;
}

.hero-section .btn-outline-light:hover {
  background-color: white;
  color: #007bff;
}

.category-title {
  color: #007bff; /* Blue color for category titles */
  font-weight: bold;
}

.mini-card {
  background-color: #ffffff; /* White background for mini cards */
}

.mini-card .icon-circle {
  color: #007bff; /* Blue color for icons */
  background-color: #e9ecef; /* Light gray background for icon circle */
  border-radius: 50%;
  padding: 15px;
}

.text-primary {
  color: #007bff; /* Blue color for text */
}

.footer {
  background-color: #343a40; /* Dark background for footer */
  color: white;
}

.footer p {
  margin: 0;
}

.carousel-heading {
  color: #007bff; /* Blue color for the heading */
  text-align: center; /* Center the text */
  font-size: 2rem; /* Adjust font size as needed */
  /* font-weight: bold; Make the text bold */
}

.icon-blue {
  color: #007bff; /* Blue color for the icons */
}
