/* Custom styles for EmployerLogin component */
.input-icon {
  position: relative;
}

.input-icon input {
  padding-left: 2.5rem;
}

.input-icon .fa-envelope,
.input-icon .fa-lock {
  position: absolute;
  top: 50%;
  left: 0.75rem;
  transform: translateY(-50%);
}
